@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #242424;
    font-family: 'Oswald', sans-serif;
}

#mainHeader{
    background: url("https://images.pexels.com/photos/761295/pexels-photo-761295.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
   
    font-size: larger;   
}

#mainHeader{
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;

}
#mainHeader nav{
    margin-top: 5rem;
}

#mainHeader::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content:"";
    background: rgba(44, 44, 44, 0.671);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.671) 0%, rgba(0, 0, 0, 0) 100%); 
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}
#mainHeader ul a{
    text-decoration: none;
    color: white;
}


.banner ul li a {
    color:rgba(0, 0, 0, 0.678)
}

.banner ul li a:hover{
    font-size: 1.5rem;
    
}




/* Search*/

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 40%;
}
.form__field {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 70%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}
/*Select*/

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #00c666b6;
    background-image: none;
  }
  .select-group{
      margin-right: 12.5rem;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 15em;
    height: 2em;
    line-height: 2;
    background:#00c66648;
    overflow: hidden;
    border-radius: .25em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #00C666;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color:#00C666;
  }
 
  
/*BUTTON*/


.btn{
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin-right:17rem;
  border: 2px solid #11998e44;
  padding: 10px 50px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #00c666d3;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before{
  width: 0%;
  height: 100%;
}

.btn1:hover::before{
  width: 100%;
}


.btn2::before{
  width: 100%;
  height: 0%;
}
.btn2:hover::before{
  height: 100%;
}

.btn3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
  height: 380%;
}

.btn4::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.btn4:hover::before{
  height: 380%;
}
  

section ul li{
    margin-right: 20%;
    margin-left: 20%;
    background-color: #c5c2c29f !important;
    margin-top: 0.7rem;
}

ul li:hover{
    background-color: #00c666d3 !important;
    cursor: pointer;
    
}




#map {
  height: 80%;
  width: 70%;
  margin-left: 10rem;
  border: 10px solid gray;
  border-radius: 5px;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

